#recipe-card {
  max-width: 27rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  background-color: #24201c;
}

#recipe-card > a {
  background-color: #e3430e;
  padding: 0.5rem 1.5rem;
  align-self: flex-end;
  margin-top: 0.5rem;
}

#recipe-card > a:hover {
  background-color: #f94d03;
}
