@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

* {
  font-family: "Cinzel", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  color: #dcd4d2;
}

html {
  font-family: "Cinzel", serif;
}

body {
  background-color: #161514;
  color: #ede1e1;
}

button,
a {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

#page {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: none;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  background-color: #574b40;
}

#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  border-radius: 5px;
  gap: 3rem;
  background-color: rgb(37, 35, 32);
}

#not-found > h1 {
  font-size: 6rem;
}

#not-found > p {
  text-align: center;
}

#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  border-radius: 5px;
  gap: 3rem;
  background-color: rgb(61, 18, 18);
}

#error > h1 {
  font-size: 3rem;
  text-align: center;
}

#error > p {
  text-align: center;
}
