#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#logo > a {
  font-size: 1.5rem;
}

#main-header #logo a:hover {
  color: #E3430E;
}

#main-header ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

#main-header ul button {
  font-weight: bold;
  font-size: 1rem;
  background: none;
}

#main-header ul a:hover,
#main-header ul a.active {
  color: #E3430E;
}

#main-header ul button:hover{
  color: #E3430E;
}
