#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#logo {
  font-family: "Cinzel", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

#main-header #logo a {
  color: #ede1e1;
  text-decoration: none;
}

#main-header #logo a:hover {
  color: #E3430E;
}

#main-header ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

#main-header ul a {
  text-decoration: none;
  color: #ede1e1;
}

#main-header ul button {
  font-family: "Cinzel", sans-serif;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  background: none;
  border: none;
  color: #ede1e1;
}

#main-header ul a:hover,
#main-header ul a.active {
  color: #E3430E;
}

#main-header ul button:hover{
  color: #E3430E;
}
